<!doctype html>
<html>
<head>

	<link rel="stylesheet" href="/static/css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>
	<script src="/static/js/app.js"></script>
	<script src="/static/knex/controller.js"></script>
	<script src="/static/knex/service.js"></script>
	<script data-require="d3@*" data-semver="3.3.11" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.js"></script>
	<script type="text/javascript" src="https://rawgit.com/chinmaymk/angular-charts/bower/dist/angular-charts.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body ng-app="myApp">
	<div ng-view></div>
</body>
</html>